body {
  padding-bottom: 30px;
  margin: 0;
  background-color: rgb(92, 138, 193);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 2.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  padding: 20px 0;
  width: 100%;
  font-weight: bold;
  font-family: 'Cinzel', serif;
}

.myForm {
  margin-top: 30px;
  text-align: left;
}
.noteField {
  background-image: linear-gradient(45deg, #c7d1d5, #ebeef0, #c7d1d5);
  border-radius: 6px;
  font-family: 'Cinzel', serif;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.textField {
  width: 100%;
  padding-top: 30px;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}
.formField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Old Standard TT', serif;
}

label {
  color: white;
  font-size: 1.2em;
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
}
.myButton {
  text-align: center!important;
  width: 100%;
  background-color: #008cb8;
  color: white;
  padding: 10px 0;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -moz-transition: .5s;
  -moz-transition-timing-function: ease-out;
  transition: .5s;
  transition-timing-function: ease-out;
}

.myButton:hover {
  background-color: #00a5d9;
}

.edit {
  width: 10px;
  height: 10px;
  font-size: 1.2em;
  padding: 5px 7px;
  color: rgb(42, 42, 42);
  cursor: pointer;
  -moz-transition: .5s;
  -moz-transition-timing-function: ease-out;
  transition: .5s;
  transition-timing-function: ease-out;
}

.delete {
  font-size: 1.1em;
  padding: 5px 7px;
  color: white;
  cursor: pointer;
  -moz-transition: .5s;
  -moz-transition-timing-function: ease-out;
  transition: .5s;
  transition-timing-function: ease-out;
}
